# 
#  SExtractor configuration file tuned for running on SuprimeCam data.
#  Following James Jee's lead, the following parameters are set:
#   CATALOG_TYPE FITS_LDAC 
#   DETECT_MINAREA 10
#   DETECT_THRESH 2.0
#   NTHREADS 1  (Since we'll be running many SExtractor calls in parallel)
#   BACK_SIZE 64
#   WEIGHT_TYPE NONE
#   SATUR_LEVEL 60000.

#-------------------------------- Catalog ------------------------------------

CATALOG_NAME	tmp.cat		# name of the output catalog
CATALOG_TYPE	FITS_LDAC	# "NONE","ASCII_HEAD_HEAD","ASCII_HEAD",
				# "FITS_1.0", or "FITS_LDAC"
WEIGHT_TYPE	MAP_WEIGHT

PARAMETERS_NAME	sext_astfile.param	# name of the file containing catalog contents

#------------------------------- Extraction ----------------------------------

DETECT_TYPE	CCD		# "CCD" or "PHOTO" (*)
#FLAG_IMAGE	flag.fits	# filename for an input FLAG-image
#DETECT_THRESH	0.0, 5.6 	# <sigmas> or <threshold>,<ZP> in mag.arcsec-2

FILTER		Y		# apply filter for detection ("Y" or "N")?
FILTER_THRESH	5.0

CLEAN		Y		# Clean spurious detections? (Y or N)?
CLEAN_PARAM	1.2		# Cleaning efficiency

MASK_TYPE	CORRECT		# type of detection MASKing: can be one of
				# "NONE", "BLANK" or "CORRECT"

#------------------------------ Photometry -----------------------------------

PHOT_FLUXFRAC 0.2,0.5,0.8
PHOT_AUTOPARAMS	2.5, 3.3	# MAG_AUTO parameters: <Kron_fact>,<min_radius>
#PHOT_AUTOPARAMS 2.5, 3.5	# MAG_AUTO parameters: <Kron_fact>,<min_radius>

MAG_GAMMA	4.0		# gamma of emulsion (for photographic scans)

#------------------------- Star/Galaxy Separation ----------------------------

STARNNW_NAME	$SEXTRACTOR/config/default.nnw	# Neural-Network_Weight table filename

#------------------------------ Check Image ----------------------------------

CHECKIMAGE_TYPE		NONE

#CHECKIMAGE_TYPE	APERTURES
#CHECKIMAGE_NAME	tmp_aper.fits

#CHECKIMAGE_TYPE	APERTURES,-BACKGROUND
#CHECKIMAGE_NAME	tmp_aper.fits, tmp_bksub.fits

#CHECKIMAGE_TYPE	APERTURES,BACKGROUND 
#CHECKIMAGE_NAME	tmp_aper.fits,tmp_bkgd.fits
	
				# CHECKIMAGE_TYPE can be one of "NONE", 
				# "BACKGROUND", "MINIBACKGROUND", "-BACKGROUND",
				# "OBJECTS", "-OBJECTS", "SEGMENTATION", 
				# "APERTURES", or "FILTERED" (*)

#--------------------- Memory (change with caution!) -------------------------

MEMORY_OBJSTACK	7500		# number of objects in stack
MEMORY_PIXSTACK	1000000		# number of pixels in stack
MEMORY_BUFSIZE	1024		# number of lines in buffer

#----------------------------- Miscellaneous ---------------------------------

VERBOSE_TYPE	NORMAL		# can be "QUIET", "NORMAL" or "FULL" (*)
NTHREADS	1

#------------------------------ Detection ------------------------------------

DETECT_MINAREA	 7		# minimum number of pixels above threshold
#DETECT_MINAREA	60		# minimum number of pixels above threshold
DETECT_THRESH	1.5		# <sigmas> or <threshold>,<ZP> in mag.arcsec-2
ANALYSIS_THRESH	1.5		# <sigmas> or <threshold>,<ZP> in mag.arcsec-2
DEBLEND_NTHRESH	64 		# Number of deblending sub-thresholds
DEBLEND_MINCONT	0.0001		# Minimum contrast parameter for deblending

FILTER_NAME	$SEXTRACTOR/config/gauss_3.0_7x7.conv	# name of the file 
#                                                      containing the filter
PIXEL_SCALE	0		# Pixel scale (0=use FITS WCS info).
SEEING_FWHM	0.8		# Arbitrary stellar FWHM in arcsec

#------------------------------ Measurement ------------------------------


PHOT_APERTURES	5,11,16      # MAG_APER aperture diameter(s) in pixels

SATUR_LEVEL	60000.0		# level (in ADUs) at which arises saturation

MAG_ZEROPOINT	30.00		# Arbitrary magnitude zero-point
GAIN		1.0 		# Arbitrary detector gain in e-/ADU.

BACK_SIZE	512		# Background mesh: <size> or <width>,<height>
BACK_FILTERSIZE	5		# Background filter: <size> or <width>,<height>
BACKPHOTO_TYPE	LOCAL		# can be "LOCAL" or "LOCAL" (*)
BACKPHOTO_THICK	24		# thickness of the background LOCAL annulus (*)
